@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Orelega+One&display=swap');
@import url("https://fonts.googleapis.com/css?family=Dekko|Lato:900|Rock+Salt");


html, body{
font-size: 2.5rem;
background-color: #0E282E; //basic color page for navbar and footer
font-family: 'Nanum Pen Script', cursive;
}

section{
padding-top: 3rem;
padding-bottom: 3rem;
}

.section-1 {
background-color: hsl(164, 61%, 65%);
padding: 2rem;
}

.section-2 {
background-color: hsl(264, 51%, 71%);
padding: 2rem;
}

.section-3 {
background-color: hsl(55, 97%, 85%);
padding: 2rem;
}

.section-4 {
font-size: 2rem;
background-color: #0E282E; 
padding: 0.2rem;
}

.section-5 {
background-color:  #8b1456;
padding: 2rem;
}

a.nav-item {
font-size: 2rem;
color: #dfdfdf;
}

a.nav-item:hover {
color: #fff;
}

.avatar1{

width: 30%;
height:20%;

}

.intro-description{
padding-top: 0.5rem;
}

.social-container img{
max-width:100%;
max-height:100px;
margin-bottom:15px;
}

.project-figure {
columns:   #0E282E;

}

.project-text {
color:  #0E282E;
text-align: justify;
}

.box {
display: flex;
justify-content: center;
align-items: center;
background-color: transparent;
border: 2px solid  #034659;
}

.title {
color:  #034659;
text-align: left;
margin-bottom: 2rem;
}

.intro {
font-size: 2.5rem;
color: #0E282E;
flex-wrap: wrap;
display: flex;
justify-content: center;
align-items: center;
text-align: justify;
width: 100%;
margin: 0 auto;
}

.void-background {
background-color: transparent; 
}

@media screen and (max-width: 768px) {
.nav-menu {
background-color:#59032E;
}

.nav-toggle:hover {
background-color: transparent;
}

.nav-toggle span {
background-color: #dfdfdf;
}

.nav-toggle span:hover {
background-color: #fff;
}

}

.circle-link {
position: relative;
height: 160px;
width: 160px;
margin: 40px;
flex-direction: row;
justify-content: center;
align-items: center;
}

.button1 {
width: 5em;
text-align: center;
margin: 1em;
justify-content: space-between;
flex-wrap: nowrap;
background: none;
border: none;
outline: none;
font-size: 1em;
box-shadow: 5px 0px #0db3e6, -5px 0px #0db3e6, 0px 5px  #0db3e6, 0px -5px  #0db3e6, 0px 15px #2979FF, -5px 10px #2A6CDA, 5px 10px #2A6CDA;
background: #0db3e6;
color: #eee;
transition: box-shadow 0.1s, background 0.1s, padding 0.1s;
}

.button1:active {
box-shadow: 5px 5px white;
padding-top: 15px;
padding-bottom: 5px;
transition: box-shadow 0.1s, background 0.1s, padding 0.1s;
}

.button2 {
width: 5em;
text-align: center;
margin: 1em;
justify-content: space-between;
flex-wrap: nowrap;
background: none;
border: none;
outline: none;
font-size: 1em;
box-shadow: 5px 0px #9709aa, -5px 0px #9709aa, 0px 5px #9709aa, 0px -5px #9709aa, 0px 15px#d3a3da, -5px 10px #d3a3da, 5px 10px #d3a3da;
background:#9709aa;
color: #eee;
transition: box-shadow 0.1s, background 0.1s, padding 0.1s;
}

.button2:active {
box-shadow: 5px 5px white;
background:  #dd1dad;
padding-top: 15px;
padding-bottom: 5px;
transition: box-shadow 0.1s, background 0.1s, padding 0.1s;
}

.button3 {
width: 5em;
text-align: center;
margin: 1em;
justify-content: space-between;
flex-wrap: nowrap;
background: none;
border: none;
outline: none;
font-size: 1em;
box-shadow: 5px 0px #fa891e, -5px 0px #fa891e, 0px 5px #fa891e, 0px -5px #fa891e, 0px 15px #f3c889, -5px 10px  #f3c889, 5px 10px #f3c889;
background:#fa891e;
color: #eee;
transition: box-shadow 0.1s, background 0.1s, padding 0.1s;
}

.button3:active {
box-shadow: 5px 5px white;
background: #f3c889;
padding-top: 15px;
padding-bottom: 5px;
transition: box-shadow 0.1s, background 0.1s, padding 0.1s;
}

.mark {
background: transparent;

text-shadow: 2px 2px 3px black;
transition: transform .7s ease-in-out;
color: white;
}

.mark:hover {
text-decoration: underline wavy #88ff88;
background: transparent;
transform: rotate(360deg);
color: black;

}

.acontainer {

width: 10rem;
height: 10rem;
border-radius: 2%;
}

.levels:hover {
position: relative;
color: mix(#fff, #fadadd, 10%);
  font-size: 8rem;
text-shadow: 
  0.02em 0.02em 0 mix(#fff, #e91e63, 20%),
  0.04em 0.04em 0 mix(#fff, #F1F0B7, 20%),
  0.06em 0.06em 0 mix(#fff, #d8bfd8, 20%),
  0.08em 0.08em 0 mix(#fff, #a4dded, 20%);
}



.fire:hover {
color: rgb(197, 4, 155);
outline: none;
cursor: pointer;
animation: 2s amazing infinite alternate linear;
}

.fire {
text-shadow: 2px 2px 3px black;
color: white;
}
@keyframes amazing {
0%   { 
  text-shadow: 0 0 20px crimson,
  0 0 10px rgb(197, 4, 155),
  10px -20px 0 yellow; 
}
25%   { 
  text-shadow: 0 0 20px crimson, 
  0 0 20px rgb(197, 4, 155),
  -10px -20px 0 yellow; 
}
50%   { 
  text-shadow: 0 0  20px crimson, 
  0 0 10px rgb(197, 4, 155),
  10px -20px 0 yellow; 
}
75%   { 
  text-shadow: 0 0 20px crimson, 
  0 0 20px rgb(197, 4, 155),
  -10px -20px 0 yellow; 
}
100%   { 
  text-shadow: 0 0 20px crimson, 
  0 0 10px rgb(197, 4, 155) ,
  10px 20px 0 yellow; 
}
}