@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

@media screen and (max-width: 600px) {
  .circle-link, .typewriter, .card-container {
    width: 100%;
    margin-top: 0;
  }
}

* {
    box-sizing: border-box; 
  }
  .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

html,body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

:root[color-mode="light"] .light--hidden{
  display: none;
}

:root[color-mode="dark"] .dark--hidden{
  display: none;
}

html.dark {
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

html.light {
  background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #F9C6C9 95%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 95%, #F9C6C9 95%),
                    linear-gradient(175deg, rgba(0,0,0,0) 90%, #F7D9C4 90%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 92%, #F7D9C4 92%),
                    linear-gradient(175deg, rgba(0,0,0,0) 85%, #F2C6DE 85%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 89%, #F2C6DE 89%),
                    linear-gradient(175deg, rgba(0,0,0,0) 80%, #DBCDF0 80%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 86%, #DBCDF0 86%),
                    linear-gradient(175deg, rgba(0,0,0,0) 75%, #C6DEF1 75%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 83%, #C6DEF1 83%),
                    linear-gradient(175deg, rgba(0,0,0,0) 70%, #C9E4DE 70%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 80%, #C9E4DE 80%);
  background-color: #FAEDCB;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}
/* Day/Night Button */
.color-mode__btn {
  position: absolute;
  margin-top: 5em;
  margin-left: 37em;
  cursor: pointer;
  background: none;
  border: none;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.color-mode__btn svg {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
  margin-top: 20px;
}

.color-mode__btn:hover svg,
.color-mode__btn:focus svg, .color-mode__btn:focus {
  outline: none;
  fill: #fff7d6;
}

/* Basic Center Image */
img {
  animation: MoveUpDown 1s infinite  alternate;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 2em;
  border: none;
  position: relative;
  }

@keyframes MoveUpDown {    
  0% { transform: translateY(0); }
100% { transform: translateY(-5px); }
}

/* Top Toolbar  */

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #946E83;
  color: "";
  font-weight: 600;
}

.toolbar #twitter-logo {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
  padding-left: 10px;
  padding-top: 10px;
  }

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 0px auto 0px;
  width: auto;
  height: auto;
  flex-direction: column;
  align-items: center;
}

/* Cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  
}

.card {
  
  font-size: x-large;
  color: black;
  border-radius: 4px;
  border: 2px solid rgb(0, 0, 0);
  background-color:   #DDF8E8;
  height: 10px;
  width: 220px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 20px;
  }
 
  .card-container .card:not(:last-child) {
    margin-right: 10px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
  }

  a,
  a:visited,
  a:hover {
    color: #000000;
    text-decoration: none;
  }

  a:hover {
    color: #000000;
  }

  /* Skills */
.circle-link {
  background-color: white;
  border-radius: 7px;
  border: 15px solid  #443730;
  border-color: white;
  height: 60px;
  width: 60px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
}

/* Typewriter Sentence */
.typewriter {
  margin-top: 0.5em;
  font-size: 30px;
  font-family: 'Patrick Hand SC', cursive;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}



@keyframes typing {
  from { width: 0 }
  to { width: 40% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  75% { border-color: rgb(255, 0, 170); }
}


