@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
.butterfly {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(60deg) rotateY(30deg) rotateZ(-50deg);
    width: 60px;
    
    &::before {
        background: orange;
        border-radius: 40%;
        content: '';
        display: block;
        margin-left:-10px;
        position: absolute;
        top: -15px;
        transform: rotatey(100deg);
        width: 30px;
        height: 100px;
        left: 30em;
    }
}

.wing {
    display: block;
    position: absolute;
    
    &:first-child {
        animation: left 350ms infinite;
        animation-direction: alternate;
        animation-fill-mode: reverse;
        z-index: 3;
        left: 30em;
    }
    
    &:last-child {
        animation: right 350ms infinite;
        animation-direction: alternate;
        animation-fill-mode: reverse;
        right:0;
        z-index: 1;
        left: 32em;
    }
    
    .fly, .fly::after {
        background: #ac166f;
        transform-origin: 100% 50%;
        overflow: hidden;
        position: absolute;
        border-radius: 50%;
        right: 0;
        top: 0;
    }
    
    .fly:first-child {
        height: 80px;
        text-align: center;
        top: 2px;
        transform: rotateZ(30deg);
        width: 130px;
    }
    
    .fly:last-child {
        height: 80px;
        transform: rotateZ(-30deg);
        width: 100px;
    }
}

@keyframes left {
    0% {
        transform: rotateY(-60deg);
    }

    100% {
        transform: rotateY(50deg);
    }
}

@keyframes right {
    0% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(80deg);
    }
}

.wave {
  animation-name: wave-hand;  
  animation-duration: 10s;        
  animation-iteration-count: infinite;  
  transform-origin: 100% 100%;       
}

@keyframes wave-hand {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(40.0deg) }  
   20% { transform: rotate(-20.0deg) }
   30% { transform: rotate(40.0deg) }
   40% { transform: rotate(-6.0deg) }
   50% { transform: rotate(17.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}