@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

:root[color-mode="light"] .light--hidden{
  
  display: none;
}

:root[color-mode="dark"] .dark--hidden{
  display: none;
}

.color-mode__btn {
  margin-left: 10em;;
  padding: 1rem;
  margin: 0 10px 20px 87em;
  cursor: pointer;
  background: none;
  border: none;
}

.color-mode__btn svg {
  width: 30px;
  height: 30px;
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
  margin-top: 20px;
}

.color-mode__btn:hover svg,
.color-mode__btn:focus svg, .color-mode__btn:focus {
  outline: none;
  fill: #fff7d6;
}

img {
  width: 350px;
  height: 250px;
  margin-top: 2em;
  border: none;
  position: relative;
  }

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #946E83;
    color: "";
    font-weight: 600;
}

  .toolbar #twitter-logo {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    padding-left: 10px;

  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 0px auto 0px;
   
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }


mark.purple {
    color:#550C18;
}

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
  }

  .card {
    
    font-size: x-large;
    color: black;
    border-radius: 4px;
    border: 5px solid #946E83;;
    background-color:   #DDF8E8;
    height: 15px;
    width: 250px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 20px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 10px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: black;
  }


  .card.card.highlight-card span { /*face layer pink */
    margin-left: 100px;
  }

  a,
  a:visited,
  a:hover {
    color: #118ab2;
    text-decoration: none;
  }

  a:hover {
    color: #118ab2;
  }

  .circle-link {
    background-color: white;
    border-radius: 7px;
    border: 15px solid  #443730;
    border-color: white;
    height: 40px;
    width: 40px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
  }

html.dark {
  background-color: black;
  color: white;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

html.light {
  background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #8da389 95%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 95%, #8da389 95%),
                    linear-gradient(175deg, rgba(0,0,0,0) 90%, #b4b07f 90%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 92%, #b4b07f 92%),
                    linear-gradient(175deg, rgba(0,0,0,0) 85%, #c5a68e 85%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 89%, #c5a68e 89%),
                    linear-gradient(175deg, rgba(0,0,0,0) 80%, #ba9499 80%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 86%, #ba9499 86%),
                    linear-gradient(175deg, rgba(0,0,0,0) 75%, #9f8fa4 75%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 83%, #9f8fa4 83%),
                    linear-gradient(175deg, rgba(0,0,0,0) 70%, #74a6ae 70%),
                    linear-gradient( 85deg, rgba(0,0,0,0) 80%, #74a6ae 80%);
  background-color: #CDD5D1;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

.typewriter {
  margin-top: 1em;
  font-size: 30px;
  font-family: 'Patrick Hand SC', cursive;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@media (max-width: 1400px) {
  .typewriter {
    font-size: 10px;
    line-height: 15px;
  }
}

@media (max-width: 700px) {
  .typewriter {
    font-size: 10px;
    line-height: 40px;
  }
}

@media (max-width: 499px) {
  .typewriter {
    font-size: 10px;
    line-height: 20px;
  }
}


@media (max-width: 350px) {
.typewriter {
    font-size: 10px;
    line-height: 20px;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 75% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  75% { border-color: rgb(255, 0, 170); }
}
